{% extends "layout.html" %} 

{% block title %} Homescreen {% endblock %}

{% block main %}
<h1 class="jumbotron">Homepage</h1>
<br>
<h3>Location</h3>
<p>{{zip}}</p>
<p>{{lat}} by {{lon}}</p>
<br>
<h2>Current Weather</h2>
<table class="table">
        <tr>
            <td>UV Index</td>
            <td>{{d.uvi}}</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{d.temp}}*F (Feels like: {{d.feels_like}}*F)</td>
        </tr>
        <tr>
            <td>Weather</td>
            <td>{{weather}}</td>
        </tr>
        <tr>
            <td>clouds</td>
            <td>{{d.clouds}}%</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>{{d.humidity}}%</td>
        </tr>
</table>
<br>
<h2>Hourly Forecast</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Time (date, hour)</th>
            <th scope="col">UV Index</th>
            <th scope="col">Temperature</th>
            <th scope="col">Weather Disc.</th>
            <th scope="col">Cloud Cover</th>
            <th scope="col">Humidity</th>
        </tr>
    </thead>
    <tbody>
        {% for row in forecast %}
        <tr>
            <td>{{row.time}}</td>
            <td>{{row.uvi}}</td>
            <td>{{row.temp}}*F</td>
            <td>{{row.disc}}</td>
            <td>{{row.clouds}}%</td>
            <td>{{row.humidity}}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}